// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


ion-content.contentWrapper{

  background: #ebffda;
}


ion-header .toolbar-background{

  background: #9fff48;
}
ion-header .back-button{

  color: #353232;
}
ion-title{

  text-align: center;
}
.pageMenu{
  
      position: absolute !important;
      top: 3px;
      left: 4px;
      z-index: 1!important;
      color: #474d42!important;
      background-color: #85dc36!important;
      height: 30px!important;
      font-size: 12px!important;
}
ion-menu  ion-list{
      background: #85dc36;
      color: #fff;
      text-align: center;
      margin: 0!important;
}
ion-menu  ion-list p{
      padding: 9px;
      border: 1px solid #9fff48;
      margin: 0!important;

}
ion-menu ion-content{
      background-color: #ebffda !important;
}
ion-menu  ion-list.headTitle{
  background: #fff;
  color: Green;
  font-weight: bold;
  font-size: 18px;
}


ion-menu  ion-list.headTitle p{
      padding-top: 20px;
      border: 1px solid #9fff48;
}




@media only screen and (min-width: 500px) {
  ion-header ion-title {
    font-size: 2.1em;
  }


  ion-header .toolbar-title{
    font-size: 35px;
    
  }
  ion-header ion-navbar{
    height:80px;
    
  }
  ion-header .back-button{
    
      font-size: 30px;
  }
  .pageMenu{

    position: absolute !important;
    top: 10px;
    left: 5px;
    z-index: 1!important;
    color: #474d42!important;
    background-color: #85dc36!important;
    height: 50px!important;
    font-size: 22px!important;
  }
  ion-menu  ion-list.headTitle{
    background: #fff;
    color: Green;
    font-weight: bold;
  }
  ion-menu  ion-list.headTitle p{
    font-size: 30px!important;
  }
  ion-menu  ion-list p{
    padding: 11px;
    font-size: 28px;

}
  
}

